*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 63,5%;
}
@font-face {
    font-family:"Gilroy" ;
    src: url(assets/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: "Sovereign";
    src: url(assets/Sovereign.otf);
}
               /* HEADER */

header{
    height: auto;
}

main{
    background-color: #2D2D2D;
    
}


/* PRINCIPAL HEADER : STAR WARS AND THE SITH IMAGE */
.principal-header{
    background-image: url(assets/star\ uó\ topo@2x.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: 43vw;
    max-width: 100vw;
    position: relative;


}
.principal-header-figures {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}
.principal-header-figures figure{
    width: 100%;
}
.star-img {
    position: absolute;
    bottom: 31%;
    left: 19%;
    width: 25vw;
}
.kylo-img{
    position: absolute;
    right: 19%;
    top: 0;
    z-index: 9;  
    width: 71vw;
}
.wars-img {
    position: absolute;
    right: 10%;
    bottom: 31%;
    width: 25vw;
}
.g4-img{
    position: absolute;
    top: 78%;
    right: 12%;
    width: 9vw;
    z-index: 10;
}
@media (max-width:768px){
    .g4-img{
        width: 15vw;
        right: 7%;
    }
}

/* SECONDARY HEADER - HEADER BOTTOM : ABOUT*/

.secondary-header{
    background-image: url(assets/sta_uo_robot@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vw;
    position: relative;
}
.header-bottom{
    display:flex;
    justify-content: center;
    height: 37%;
    position: relative;
}
.header-bottom::after{
    content: "";
    border: #707070 solid 2.7px;
    background-color: #707070;
    width: 77%;
    height: 0.5px;
    position: absolute;
    bottom: -20%;
    left: 14%;
}
.red-box{
    background-image: url(assets/strom\ trupe\ red.png);
    position: absolute;
    top: -4%;
    left: 14%;
    z-index: 9;
    width: 21vw;
    height: 29vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.red-box-h2{
   text-transform: uppercase;
   text-align: center;
   font-size: 2.5vw;
   font-weight: 600;
   width: 50%;
   height: 33%;
}
.red-box-paragraph{
    font-weight: 300;
    font-size: 1vw;
    width: 85%;
    height: 33%;
}
.red-box-button{
    font-size: 1vw;
    color: #fff;
    background-color: rgb(255,255,255, 0);
    width: 10vw;
    height: 2.5vw;
    border: white solid 2px;
    border-radius: 4px;
}

.about-game{
    position: absolute;
    top: 55%;
    left: 42%;
   
}
.about-game-mobile {
    display: none;
}
.about-game img {
    width: 49vw;
}

/* HEADER BOTTOM 769PX */

@media (max-width:769px){
    .secondary-header{
        height: 80vh;
    }
    .header-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        height: 122vh;
    }
    .header-bottom::after{
        bottom: -2%;
        
    }
    .about-game-mobile {
        display: flex;
        width: 80vw;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    .about-game {
        display: none;
    }
    .about-game-mobile img {
        width: 80%;
        margin-top: 2rem;

    }
    .red-box{
        position: static;
        height: 60vh;
        margin-top: 15%;
        margin-right: 6%;
        width: 50vw;
    }
    .red-box-h2{
        font-size: 5vw;
    }
    .red-box-paragraph{
        font-size: 2vw;
    }
    .red-box-button{
        font-size: 2vw;
        width: 20vw;
        height: 5vw;
    }
}

/* HEADER BOTTOM 440PX */

@media (max-width:440px){
        .secondary-header{
            height: 80vh;
        }
        .header-bottom{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            max-height: 112vh;
        }
        .about-game-mobile {
            display: flex;
            width: 100vw;
            margin-top: 2rem;
            margin-right: 6%;
        }
        .about-game {
            display: none;
        }
        .about-game-mobile img {
            width: 83%;
        }
        .red-box{
            width: 60vw;
            height: 50vh;
            margin-top: 12%;
        }
        .red-box img {
            width: 60vw;
        }
        .red-box-h2{
            font-size: 7vw;
        }
        .red-box-paragraph{
            font-size: 2.8vw;
        }
        .red-box-button{
            font-size: 2.8vw;
            width: 28vw;
            height: 7vw;
        }
}

/* SECONDARY HEADER - STRUCTURE-BOX   */

.structure-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 57vw;
}
.sith2-img{
    margin-left: 30%;
    width: 43vw;
}
.sith2{
    margin-left: 3%;
    display: flex;
}
.rey{
    margin-right: 8%;
}
.rey-img{
    margin-top: 25%;
    width: 21vw;
}
.structure-text{
    height: 59%;
    width: 27%;
}
.h2-first{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3.7vw;
    display: inline-block;
    text-align: right;
    font-weight:600;
    width: 27vw;
    height: 7%;
    line-height: 0.5;
}
.h2-de{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3.7vw;
    display: inline-block;
    text-align: center;
    width: 25%;
    margin-left: 40%;
    font-weight: 600;
    height: 7%;
}
.h2-second{
    font-family: "Sovereign";
    text-transform: uppercase;
    font-size: 3.5vw;
    display:inline-block;
    text-align: right;
    font-weight: 700;
    height: 15%;
    width: 30%;
}
.structure-text p {
    text-align: right;
    text-transform: uppercase;
    line-height: 2.4;
    font-size: 1.5vw;
    width: 27vw;
    cursor: pointer;
}
.structure-text p:hover{
    color:#fff;
    background-color: #D74430;
}

/* STRUCTURE-BOX 769PX */

@media (max-width:769px){
    .structure-box{
        justify-content: space-between;
        height: 50vh;

        display: flex;
        
    }

    .sith2-img{ 
        width: 52vw;
    }
    .sith2{
        margin: 0;
        justify-content: flex-start;
        width: 5vw;
    }
    .rey{
        width: 20vw;
    }
    .rey-img {
        width: 25VW;
    }
    .h2-first{
        font-size: 4vw;
        width: 40vw;
    }
    .h2-de{
        font-size: 4vw;
    }
    .h2-second{
        font-size: 3.8vw;
    }
    .structure-text{
        width: 40vw;
        height: 80%;
        margin-left: 30vw;
    }
    .structure-text p {
        font-size: 1.8vw;
        width: 38vw;
    }
}

/* ATRIBUTTES --- MAIN --- */

.atributtes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.atributtes-box{
    display: flex;
    width: 85%;
    
}
.atributtes h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.6vw ;
    font-weight: 900;
    height: 17vw;
    padding-top: 10vw;
    margin-right: 60%;
}
.principal-figure{
    width: 50%;
  
}
.principal-figure-img {
    width: 100%;
    height: 100%;
    
}
.smaller-figure{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.smaller-figure figure {
    width: 50%;
    height: 50%;
    position: relative;
}
.smaller-figure img {
    width: 100%;
    position: absolute;
}
.smaller-figure-hover{
    display: none;
}
.smaller-figure img:hover + img {
    display: flex;
    position: static;
}



/* ATRIBUTTES-BOX 769PX */

@media (max-width:769px){
    .atributtes-box{
        flex-direction: column;
        
    }
    .atributtes h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 4.5vw;
        margin-bottom: 3vw;
    }
    .principal-figure{
        width: 100%;
     
    }
    .smaller-figure{
        width: 100%;
        height: fit-content;
        flex-wrap: nowrap;
        flex-direction: column;
        display: flex;
       
    }
    .smaller-figure figure {
       width: 100%;
    }
    .smaller-figure img {
        width: 100%;
        height: 100%;
        position: unset;
        
    }
    .smaller-figure-hover{
        border: white solid;
    }
    .smaller-figure img:hover + img {
        display: none;
        position: static;
    }
}
@media (max-width:769px){
    header{
        height: 196vh;
    }
}
@media (max-width:440px){
    header{
        height: 170vh;
    }
}

.hierarchy{
    width: 85%;
    margin-top: 3%;
    border: lawngreen;
}
.hierarchy img {
    width: 100%;
}
@media (max-width: 769px){
    .hierarchy {
        width: 100%;
    }
}
.hierarchy-text {
    display: flex;
    justify-content: flex-end;
}

.hierarchy-text p{
    color:#fff;
    text-align: right;
    font-weight: 300;
    font-size: 1vw;
    width:  53%;
}
.how-to-play{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20vw;
   
}
.how-to-play-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.7vw;
    font-family: "Sovereign";
    font-weight: 300;
    text-align: left;
    width: 55vw;
}
@media (max-width: 769px){
    .how-to-play-text h2 {
        font-size: 4.1vw;
        text-align: right;
        padding-right: 15vw;
    }
    .hierarchy-text p{
        font-size: 2vw;
        width: 60%;
        margin-right: 10vw;
       
    }
}

/* MAIN BUTTONS SECTION*/

.main-buttons{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vw;
    
    
}
.buttons {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    margin-left: 25vw;
    margin-top: 5vw;
   
  
}
.buttons h3{
    font-weight: 300;
    font-size: 2.6vw;
    text-align: center;
    order: 1;

}
.buttons button{
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    width: 14vw;
    height: 3.7vw;
    font-size: 1.5vw;
    font-weight: 300;
    border: none;
    box-shadow: inset 0 0 #000, 2px 0 2px #000, 0 4px 4px #707070;
    margin-top: 2vw;
    order: 2;
    transition: box-shadow ease 3s;
    
    
}
.buttons p {
    font-size: 1vw;
    text-align: center;
    width: 45%;
    margin-top: 2vw;
    order: 3;
}
.buttons span{
    width: 6vw;
    height: 6px;
    background-color: #000;
    margin-top: 2vw;
    box-shadow: inset 0 0 #000;
    order: 4;
    transition: box-shadow ease 3s;
}

.buttons button:hover{
    box-shadow: inset  -14vw 0  #D74430, 2px 0 2px #000, 0 4px 4px #707070;
    transition: box-shadow 1s ease;
    -webkit-transition: box-shadow 1s ease;
    -moz-transition: box-shadow 1s ease;
    -o-transition: box-shadow 1s ease;
}
.buttons button:hover ~ span {
    box-shadow: inset  -6vw 0  #D74430;
    transition: box-shadow 1s ease-in-out;
    -webkit-transition: box-shadow 1s ease-in-out;
    -moz-transition: box-shadow 1s ease-in-out ;
    -o-transition: box-shadow 1s ease-in-out;
}
.buttons button:hover ~ h3{
    font-weight: 900;
}
.download-01{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download-02{
   width: 33.33%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.download-03{
    width: 33.33%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.black-cloack{
    position: absolute;
    top: -21vw;
    left: 7vw;
}
.black-cloack img {
    width: 28vw;
}

@media (max-width:769px){
    .black-cloack{
        left: -40%;
    }
    .black-cloack img{
        width: 100vw;
        
    }
    .buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 40vw;
    }
    .buttons h3 {
        font-size: 7vw;
        margin-top: 4vw;
    }
    .buttons button{
        width: 37vw;
        height: 11vw;
        font-size: 4vw;
    }
    .buttons p{
        font-size: 3vw;
        width: 200%;
    }
    .buttons span {
        height: 4px;
        width: 12vw;
    }
    .buttons button:hover{
        box-shadow: inset  -37vw 0  #D74430, 2px 0 2px #000, 0 4px 4px #707070;
    }
    .buttons button:hover ~ span {
        box-shadow: inset  -12vw 0  #D74430;
    }
}
